
          <div class="table-responsive">
            <h2 >Gestión de Planes</h2>

            <button type="button" class="btn btn-sm btn-outline-secondary float-end">Nuevo</button>
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Nombre Plan</th>
                  <th scope="col">Cantidad de Paginas</th>
                  <th scope="col">Cantidad de Productos</th>
                  <th scope="col">Almacenamiento</th>
                  <th scope="col">Ancho de Banda</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Free</td>
                  <td>5</td>
                  <td>10</td>
                  <td>5GB</td>
                  <td>5Mb</td>
                  <td>0</td>
                  <td>
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Eliminar</button>
                    </div></td>
                </tr>
                
              </tbody>
            </table>
          </div>