header{
    background:   linear-gradient(120deg, #1045A3 0%, #2DAFE9 100%);

    background: linear-gradient(120deg, #206992 0%, #1041A0 100%);

    padding: 0rem !important;
}



.opcionActiva{
    background-color:  #00b4d4 !important
  }