
<div class="text-end">
    <button type="button" class="btn-login btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginCompanyModal">Iniciar sesión</button>
    <button type="button" class="btn-sign-up btn btn-warning" data-bs-toggle="modal" data-bs-target="#signUpCompanyModal">Registrarse</button>
</div>




   <!-- --------------MODAL PARA EMPRESAS-------------- -->
  
  <!-- Login Modal -->
  <div class="modal fade" id="loginCompanyModal" tabindex="-1" aria-labelledby="loginCompanyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h1 class="fw-bold mb-0">Para Empresas</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <form class="">
                
                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Iniciar sesión</button>
               <br>
                
                <div>
                    <p class="mb-0"><br>¿No tienes una cuenta?
                        
                <button type="button" class="btn-sign-up btn btn-warning" data-bs-toggle="modal" data-bs-target="#signUpCompanyModal">Registrarse</button>
                    </p>
                  </div>
                  <hr class="my-4">
                
                <button type="button" class="btn-login btn btn-outline-dark me-2" data-bs-toggle="modal" data-bs-target="#loginClientModal">Iniciar como cliente</button>
                    
              </form>
            </div>
          </div>
    </div>
  </div>

  
  <!-- Sign Up Modal -->
  <div class="modal fade" id="signUpCompanyModal" tabindex="-1" aria-labelledby="signUpCompanyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h1 class="fw-bold mb-0">Para Empresas</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <form class="">
                
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="Nombre">
                    <label for="floatingInput">Nombre</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="Apellidos">
                    <label for="floatingInput">Apellidos</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="Nombre Empresa">
                    <label for="floatingInput">Empresa</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="usuario@ejemplo.com">
                    <label for="floatingInput">Correo electronico</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                  </div>
                
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Registrarse</button>
                <small class="text-muted">Al hacer clic en Registrarse, acepta los términos de uso.</small>
              <br>
                
                <div>
                    <p class="mb-0"><br>¿Ya tienes una cuenta?
                        
    <button type="button" class="btn-login btn btn-outline-dark me-2" data-bs-toggle="modal" data-bs-target="#loginCompanyModal">Iniciar sesión</button>
    
                    </p>

                    
                  <hr class="my-4">
                
                  <button type="button" class="btn-sign-up btn btn-warning" data-bs-toggle="modal" data-bs-target="#signUpClientModal">Registrarse como cliente</button>
                  </div>
              </form>
            </div>
          </div>
    </div>
  </div>



   <!-- --------------MODAL PARA CLIENTES-------------- -->
  
   
  <!-- Login Modal -->
  <div class="modal fade" id="loginClientModal" tabindex="-1" aria-labelledby="loginClientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h1 class="fw-bold mb-0">Para Clientes</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <form class="">
                
                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>

                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Iniciar sesión</button>
                <br>
                <div>
                    <p class="mb-0"> <br>¿No tienes una cuenta?
                        
                <button type="button" class="btn-sign-up btn btn-warning" data-bs-toggle="modal" data-bs-target="#signUpClientModal">Registrarse</button>
                    </p>
                  </div>

                  
                <hr class="my-4">
                <button type="button" class="btn-login btn btn-outline-dark me-2" data-bs-toggle="modal" data-bs-target="#loginCompanyModal">Iniciar como empresa</button>
              </form>
            </div>
          </div>
    </div>
  </div>

  
  <!-- Sign Up Modal -->
  <div class="modal fade" id="signUpClientModal" tabindex="-1" aria-labelledby="signUpClientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h1 class="fw-bold mb-0">Para Clientes</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <form class="">
                
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="Nombre">
                    <label for="floatingInput">Nombre</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="Apellidos">
                    <label for="floatingInput">Apellidos</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="usuario@ejemplo.com">
                    <label for="floatingInput">Correo electronico</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                  </div>
                
                
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Registrarse</button>
                <small class="text-muted">Al hacer clic en Registrarse, acepta los términos de uso.</small>
                
                <div>
                    <p class="mb-0"><br>¿Ya tienes una cuenta?
                        
    <button type="button" class="btn-login btn btn-outline-dark me-2" data-bs-toggle="modal" data-bs-target="#loginClientModal">Iniciar sesión</button>
                    </p>
                  </div>

                  
                <hr class="my-4">
                <button type="button" class="btn-sign-up btn btn-warning" data-bs-toggle="modal" data-bs-target="#signUpCompanyModal">Iniciar como Empresa</button>
                    
              </form>
            </div>
          </div>
    </div>
  </div>
