
        <div class="table-responsive">
            <h2 >Administración de Plantillas</h2>
            <div class="info-general w-75">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Plantilla Oscura">
                    <label for="floatingInput">Título del tema</label>
                </div><div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Descripción del tema" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Descripción</label>
                  </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Plantilla Oscura">
                    <label for="floatingInput">Título del tema</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Plantilla Oscura">
                    <label for="floatingInput">Título del tema</label>
                </div>

                
            </div>

            
            <div
            class="app-ace-editor w-100 mb-5"
            #editorCss
            style="height: 400px;"
            ></div>

            
            <div
            class="app-ace-editor w-100 mb-5"
            #editorJs
            style="height: 400px;"
            ></div>
          </div>